*.csproj*
*.sln
.vsconfig
/Library/
/Logs/
/obj/
/Temp/
/UserSettings/
/Videos/*.mkv
/Assets/*

!README.md
!README.md.meta
!.gitignore
!/Assets/KinematicCharacterController
!/Packages/*
!/ProjectSettings/*

!DevLogs/*